* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .add-task {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: blueviolet;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
}

.header .add-task:hover {
    background-color: #6a0dad;
}